<dm-draw-line></dm-draw-line>
<dm-polygon></dm-polygon>
<label class="btn btn-default btn-sm active">
  <input type="checkbox" checked>anno
</label>
<button class="btn btn-default btn-sm">anno1</button>
<button class="btn btn-default btn-sm">anno2</button>
<button class="btn btn-default btn-sm">anno1</button>
<button class="btn btn-default btn-sm">anno2</button>
<button class="btn btn-default btn-sm">anno1</button>
<button class="btn btn-default btn-sm">anno2</button>
<button class="btn btn-default btn-sm">anno1</button>
<button class="btn btn-default btn-sm">anno2</button>
<button class="btn btn-default btn-sm">anno1</button>
<button class="btn btn-default btn-sm">anno2</button>
