.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%
}

md-sidenav-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.roam-sidenav {
  width: 15em;
}

dm-map {
  display: flex;
  flex-direction: column;
  flex: 1;
}
