<md-sidenav-container class="roam-container">
  <md-sidenav #sidenav class="roam-sidenav" mode="side" (open)="refreshMap()" (close)="refreshMap()">
    <dm-menu></dm-menu>
  </md-sidenav>

  <div class="roam-sidenav-content">
    <button class="sidenav-menu" md-icon-button (click)="sidenav.toggle()">
      <md-icon svgIcon="menu_google"></md-icon>
    </button>

    <!--<button md-button (click)="sidenav.toggle()">
      Open Sidenav
    </button>-->

    <dm-map></dm-map>
    <dm-search></dm-search>
  </div>
</md-sidenav-container>
