.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%
}

md-sidenav-container {
  flex: 1;
}

.roam-sidenav {
  width: 15em;
}

.tools {
  position: absolute;
  z-index: 1;
}

li {
  display: inline-block;
  vertical-align: top;
}
