<dm-header></dm-header>

<md-sidenav-container class="roam-container">
  <md-sidenav #sidenav class="roam-sidenav" mode="over" (open)="refreshMap()" (close)="refreshMap()">
    <dm-menu></dm-menu>
  </md-sidenav>

  <div class="roam-sidenav-content">
    <!-- TODO refactor into a tools component -->
    <ul class="tools">
      <li>
        <button class="sidenav-menu" md-mini-fab (click)="sidenav.toggle()">
          <md-icon svgIcon="menu_google"></md-icon>
        </button>
      </li>
      <li>
        <dm-search></dm-search>
      </li>
      <li>
        <button md-mini-fab>
          <md-icon svgIcon="print"></md-icon>
        </button>
      </li>
      <li>
        <button md-mini-fab>
          <md-icon svgIcon="query"></md-icon>
        </button>
      </li>
      <li>
        <dm-basemap-button></dm-basemap-button>
      </li>
      <li>
        <dm-decades></dm-decades>
      </li>
    </ul>

    <dm-basemap-google></dm-basemap-google>

    <dm-map></dm-map>
  </div>
</md-sidenav-container>

<dm-footer></dm-footer>
