.map {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ol-viewport {
  flex: 1;
}

.ol-zoom {
  top: .5em;
  right: 1em;
  left: auto;

  .ol-zoom-out {
    margin-top: 204px;
  }
}

.ol-zoomslider {
  background-color: transparent;
  top: 36px;
  right: 1em;
  left: auto;
}

.ol-touch {
  .ol-zoom {
    .ol-zoom-out {
      margin-top: 212px;
    }
  }

  .ol-zoomslider {
    top: 2.75em;
  }
}

.ol-zoomslider {
  color: #fff;
  background: linear-gradient(
    to bottom,
    #5d9634,
    #5d9634 5px,
    #538c2b 5px,
    #538c2b
  );

  background-size: 100% 10px;
}

.ol-attribution {
  display: none;
}
