.tools {
  position: absolute;
  z-index: 1;
  white-space: nowrap;

  width: calc(100% - 75px); /* The 75px is the rough width of the scalebar */
  margin: 16px 0;
  padding: 0;
}

li {
  display: inline-block;
  vertical-align: top;
  margin: 0 .2em;

  &:first-child {
    padding-left: 1em;
  }
}
