<button md-raised-button (click)="togglePanel()">
  <md-icon svgIcon="basemaps"></md-icon>Basemaps<md-icon svgIcon="down-arrow"></md-icon>
</button>

<md-grid-list *ngIf="panelVisible" cols="2" rowHeight="fit">
  <md-grid-tile>
    <span>
      <img src="assets/thumbnails/MasterMap.png">MasterMap
    </span>
  </md-grid-tile>
  <md-grid-tile>
    <span>
      <img src="assets/thumbnails/MasterMapOrig.png">MasterMap Plan
    </span>
  </md-grid-tile>
  <md-grid-tile>
    <span>
      <img src="assets/thumbnails/OML.png">OML
    </span>
  </md-grid-tile>
  <md-grid-tile>
    <span>
      <img src="assets/thumbnails/VMLPlan.png">VMLPlan
    </span>
  </md-grid-tile>
  <md-grid-tile>
    <span>
      <img src="assets/thumbnails/Raster25k.png">Raster 25k
    </span>
  </md-grid-tile>
  <md-grid-tile>
    <span>
      <img src="assets/thumbnails/VMD.png">Vector Map District
    </span>
  </md-grid-tile>
</md-grid-list>
